.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
}

.padleft30 {
  padding-left: 30px;
}

.padright30 {
  padding-right: 30px;
}

.activetab {
  font-weight: bolder !important;
}

.centeredDiv {
  max-width: 650px;
  width: 100%; /* Set any width you prefer */
  height: 50%; /* And any height */
}

.headertext {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px #aaaaaa;
}

.darkerbutt {
 background-color: lightgray !important; 
}

.positive_text {
  color: green;
  font-weight: bold;
  text-decoration: none !important;
}

.negative_text {
  color: crimson;
  font-weight: bold;
  text-decoration: none !important;
}

.autocomplete-suggestions {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background: white;
  width: 200px;
}
.autocomplete-suggestion {
  padding: 8px;
  cursor: pointer;
}
.autocomplete-suggestion:hover {
  background-color: #ddd;
}

.plotlygraphcontainer {
  margin-top: 20px;
}

.weight_input_size_constraints {
  height: 30px !important;
  width: 90% !important;
}

#map {
  height: 700px;
  margin-top: 20px;
}

#altcanvas {
  height: 200px;
  width: 100%;
  margin-top: 10px;
}

.plotlygraphloadingtext {
  font-weight: bold;
}

/* https://css-loaders.com/wobbling/ */
.plotlygraphloading {
  margin-top: 50px;
  width: 20px;
  aspect-ratio: 1;
  background: #307fd3;
  box-shadow: 0 0 60px 15px #307fd3;
  transform: translate(-80px);
  clip-path: inset(0);
  animation:
    l4-1 0.5s ease-in-out infinite alternate,
    l4-2 1s   ease-in-out infinite;
}
@keyframes l4-1 {
  100% {transform: translateX(80px)}
}
@keyframes l4-2 {
   33% {clip-path: inset(0 0 0 -100px)}
   50% {clip-path: inset(0 0 0 0)     }
   83% {clip-path: inset(0 -100px 0 0)}
}