.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
}

.padleft30 {
  padding-left: 30px;
}

.padright30 {
  padding-right: 30px;
}

.activetab {
  font-weight: bolder !important;
}

.centeredDiv {
  max-width: 650px;
  width: 100%; /* Set any width you prefer */
  height: 50%; /* And any height */
}

.headertext {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px #aaaaaa;
}

.darkerbutt {
 background-color: lightgray !important; 
}

.positive_text {
  color: green;
  font-weight: bold;
  text-decoration: none !important;
}

.negative_text {
  color: crimson;
  font-weight: bold;
  text-decoration: none !important;
}
